[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
django = "==2.2"
djangorestframework = "*"

[requires]
python_version = "3.6"

[dev-packages]
pylint = "*"
GitPython = "*"
